<div class="discovery-suggestions container">
	<h3>Examples:</h3>


<!--
	<div class="row">
		<div class="span12">
			<div class="suggested-user span3">
				<img src="img/avatars/paulirish.jpeg" class="img-thumbnail">
				<strong><a href="#/github/paulirish">Paul Irish</a></strong>
			</div>

			<div class="suggested-user span3">
				<img src="img/avatars/slightlyoff.jpeg" class="img-thumbnail">
				<strong><a href="#/github/slightlyoff">Alex Russell</a></strong>
			</div>

			<div class="suggested-user span3">
				<img src="img/avatars/jakearchibald.jpeg" class="img-thumbnail">
				<strong><a href="#/github/jakearchibald">Jake Archibald</a></strong>
			</div>

		</div>
	</div>-->



<!--contributors-->
<div class="contributor-entry">

  <ul class="contributors">
      <li class="contributor" ng-repeat="contributor in contributors.data">
        <a class="avatar" ng-href="#/github/{{contributor.login}}/" title="{{contributionsTitle(contributor)}}">

            <img alt="{{contributor.login}}'s avatar" ng-src="{{contributor.avatar_url}}" />

            <span class="contributor-name">{{contributor.login}}</span>

        </a>
      </li>
  </ul>

</div>
<!--end contributors-->


</div>





