


<!--
	for dynamic homepage avatars
<div class="discovery-suggestions container">
	<h3>Examples:</h3>
<div class="contributor-entry">


  <ul class="contributors">
      <li class="contributor" ng-repeat="contributor in contributors.data">
        <a class="avatar" ng-href="#/github/{{contributor.login}}/" title="{{contributionsTitle(contributor)}}">

            <img alt="{{contributor.login}}'s avatar" ng-src="{{contributor.avatar_url}}" />

            <span class="contributor-name">{{contributor.login}}</span>

        </a>
      </li>
  </ul>

</div>
</div>
-->



<div class="discovery-suggestions container">
	<h3>Examples:</h3>

<div class="contributor-entry">
<ul class="contributors" style="margin:0px; ">
      <li class="contributor">
        <a class="avatar" href="#/github/ebidel/" title="" href="#/github/ebidel/">

            <img alt="ebidel's avatar" src="https://secure.gravatar.com/avatar/e7948aac7c52b26470be80311873a398?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/e7948aac7c52b26470be80311873a398?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">ebidel</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/cwilso/" title="" href="#/github/cwilso/">

            <img alt="cwilso's avatar" src="https://secure.gravatar.com/avatar/f42ace1f6e35d42dadfe3136e498fe2b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/f42ace1f6e35d42dadfe3136e498fe2b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">cwilso</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/paullewis/" title="" href="#/github/paullewis/">

            <img alt="paullewis's avatar" src="https://secure.gravatar.com/avatar/19f2e112d349e75c73c95d549220f874?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/19f2e112d349e75c73c95d549220f874?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">paullewis</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/PaulKinlan/" title="" href="#/github/PaulKinlan/">

            <img alt="PaulKinlan's avatar" src="https://secure.gravatar.com/avatar/b590f0fb3aba34aee093cfa1406eac0b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/b590f0fb3aba34aee093cfa1406eac0b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">PaulKinlan</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" ng-href="#/github/agektmr/" title="" href="#/github/agektmr/">

            <img alt="agektmr's avatar" src="https://secure.gravatar.com/avatar/97f1a4e8cb88cd3672728306c4bc0ccc?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/97f1a4e8cb88cd3672728306c4bc0ccc?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">agektmr</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/johnmccutchan/" title="" href="#/github/johnmccutchan/">

            <img alt="johnmccutchan's avatar" src="https://secure.gravatar.com/avatar/d38aaed4861a119be2316fc07b1d1228?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/d38aaed4861a119be2316fc07b1d1228?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">johnmccutchan</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/borismus/" title="" href="#/github/borismus/">

            <img alt="borismus's avatar" src="https://secure.gravatar.com/avatar/f27f8e02a79b64799fe5ac2df3e7f519?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/f27f8e02a79b64799fe5ac2df3e7f519?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">borismus</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/b3by/" title="" href="#/github/b3by/">

            <img alt="b3by's avatar" src="https://secure.gravatar.com/avatar/7ccb76d1b25a1e48c1a2553eb26c217a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/7ccb76d1b25a1e48c1a2553eb26c217a?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">b3by</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/samdutton/" title="" href="#/github/samdutton/">

            <img alt="samdutton's avatar" src="https://secure.gravatar.com/avatar/d97dfdff40153ec34acdcf044a5b372f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/d97dfdff40153ec34acdcf044a5b372f?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">samdutton</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" href="#/github/paulirish/" title="" href="#/github/paulirish/">

            <img alt="paulirish's avatar" src="https://secure.gravatar.com/avatar/ffe68d6f71b225f7661d33f2a8908281?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/ffe68d6f71b225f7661d33f2a8908281?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">paulirish</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" ng-href="#/github/igrigorik/" title="" href="#/github/igrigorik/">

            <img alt="igrigorik's avatar" src="https://secure.gravatar.com/avatar/a17f0025641b4be419a6cd3845e55dd2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/a17f0025641b4be419a6cd3845e55dd2?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">igrigorik</span>

        </a>
      </li><li class="contributor">
        <a class="avatar" ng-href="#/github/mikewest/" title="" href="#/github/mikewest/">

            <img alt="mikewest's avatar" src="https://secure.gravatar.com/avatar/3c27881a0d8695811b0fa23bd794e696?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" src="https://secure.gravatar.com/avatar/3c27881a0d8695811b0fa23bd794e696?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">

            <span class="contributor-name ng-binding">mikewest</span>

        </a>
      </li>
  </ul>
</div>

</div>

