

<div class="splash pure-u-1">
    <div class="pure-g-r">
        <div class="pure-u-2-3 text-box">
            <div class="l-box">
                <h1 class="text-box-head">Discover new GitHub projects</h1>


			    <h3>Find Public Repos and Gists:</h3>
			    <form class="pure-form form-search" ng-submit="searchAction()">
			      <span>Keyword: </span>
				<input type="text" class="pure-input-rounded pure-input-1-2" placeholder="e.g: jquery" ng-model="searchField">
			      <button type="submit" class="pure-button pure-button-primary"><i class="icon-search"></i> Search</button>
			    </form>

			    
            </div>
        </div>
    </div>
</div>




