

<div class="discovery-search">

	    <div class="pure-g-r">
	        <div class="pure-u-2-3 text-box">

				    <h3>Enter your GitHub username (or organization name) to begin:</h3>

				    <form class="pure-form form-search" ng-submit="searchAction()">
				      <span>Username: </span>
						<input type="text" class="pure-input-rounded pure-input-1-2" ng-model="searchField">
				      <button type="submit" class="pure-button pure-button-primary"><i class="icon-search"></i> Search</button>
				    </form>

	        </div>
	    </div>

</div>



